Source: arsenic
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6

Package: python3-arsenic
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: UNKNOWN

